<div class="welcome-container">
  <div class="content">
    <div class="title-wrapper">
      <h1 class="main-title">Piti's Advent Calendar</h1>
      <p class="subtitle">Una sorpresa nueva te espera cada día...</p>
    </div>

    <div class="message-box">
      <p class="message">
        Para este año he querido preparar algo especial y que llevas años deseando que te regalen...Por primera vez en estos 
        casi 5 años que nos conocemos, he creado un calendario de adviento personalizado para ti. Cada día descubrirás una
        nueva sorpresa que puede ir desde un pequeño detalle, un gran detalle, hasta experiencias que podremos compartir juntos.
        Espero que disfrutes cada momento y cada regalo tanto como yo he disfrutado preparándolos para ti.
        ¡Feliz Navidad Iti mía! 🎄❤️
      </p>
    </div>

    <button class="enter-button" (click)="goToCalendar()">
      <span>Descubre tu siguiente regalo</span>
      <span class="arrow">→</span>
    </button>

    <div class="date-info">
      <p>🎄 {{ day }}/31 🎄</p>
    </div>
  </div>
</div>