<div class="calendar-container">
  <div class="card-display">
    <button class="nav-button left" 
            (click)="previousDay()">
      ◀
    </button>

    <div class="card-wrapper" *ngIf="todayCard">
      <advent-card
        [day]="todayCard.number"
        [title]="todayCard.title"
        [message]="todayCard.message"
        [emoji]="todayCard.emoji"
        [unlockDate]="todayCard.date"
        (cardOpened)="onCardOpened($event)"
      >
      </advent-card>
    </div>

    <button class="nav-button right" 
            (click)="nextDay()" >
      ▶
    </button>
  </div>

  <div class="footer" *ngIf="todayCard">
    <p *ngIf="!isCardOpened">Haz clic en la carta para abrirla 💝</p>
    <p *ngIf="isCardOpened">{{ todayCard.message }}</p>
  </div>
</div>